<div class="jumbotron">
    <h3 class="display-4">Bekräfta bokning</h3>
    <p class="lead"></p>
</div>
<div class="row m-2">

<div class="card m-2 outer-card" id="confirmCard">
    <div class="card-header">
        <h5>Din bokning</h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="card shadow-sm m-2">
                
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                {{date}}: {{sport}} {{time}}
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-outline-danger" (click)="abortBooking()">Avbryt bokning</button>
                                <div class="divider"></div>
                                <button class="btn btn-outline-success" (click)="confirmBooking()">Bekräfta bokning</button>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>
    </div>
</div>