<!-- <select class="form-control" id="dropdownSports">
  <option selected = "selected" disabled>Välj en sport</option>
  <option *ngFor="let elem of sports">{{elem.sport}}</option>
</select> -->

<mat-tab-group mat-stretch-tabs (selectedTabChange)="clickedTab($event)">
  <mat-tab label="Tennis"> Tennis </mat-tab>
  <mat-tab label="Padel"> Padel </mat-tab>
  <mat-tab label="Badminton"> Badminton </mat-tab>
</mat-tab-group>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Tider Column -->
  <ng-container matColumnDef="Tider">
    <th mat-header-cell *matHeaderCellDef> Tider </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <!-- Måndag Column -->
  <ng-container matColumnDef="Måndag">
    <th mat-header-cell *matHeaderCellDef> Måndag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Monday === undefined || element.Monday === false ,
          'booked' : element.Monday === true
       }">
        <h3>
          <div *ngIf="element.Monday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <!-- Tisdag Column -->
  <ng-container matColumnDef="Tisdag">

    <th mat-header-cell *matHeaderCellDef> Tisdag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Tuesday === undefined || element.Tuesday === false ,
          'booked' : element.Tuesday === true
       }" (click) = 'clicked()' >

        <h3>
          <div *ngIf="element.Tuesday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>

      </td>

    </ng-container>
  </ng-container>

  <!-- Onsdag Column -->
  <ng-container matColumnDef="Onsdag">
    <th mat-header-cell *matHeaderCellDef> Onsdag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Wednesday === undefined || element.Wednesday === false ,
          'booked' : element.Wednesday === true
       }">
        <h3>
          <div *ngIf="element.Wednesday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <!-- Torsdag Column -->
  <ng-container matColumnDef="Torsdag">
    <th mat-header-cell *matHeaderCellDef> Torsdag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Thursday === undefined || element.Wednesday === false ,
          'booked' : element.Thursday === true
       }">
        <h3>
          <div *ngIf="element.Thursday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <!-- Fredag Column -->
  <ng-container matColumnDef="Fredag">
    <th mat-header-cell *matHeaderCellDef> Fredag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Friday === undefined || element.Friday === false ,
          'booked' : element.Friday=== true
       }">
        <h3>
          <div *ngIf="element.Friday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <!-- Lördag Column -->
  <ng-container matColumnDef="Lördag">
    <th mat-header-cell *matHeaderCellDef> Lördag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Saturday === undefined || element.Friday === false ,
          'booked' : element.Saturday === true
       }">
        <h3>
          <div *ngIf="element.Saturday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <!-- Söndag Column -->
  <ng-container matColumnDef="Söndag">
    <th mat-header-cell *matHeaderCellDef> Söndag </th>
    <ng-container>
      <td mat-cell *matCellDef="let element" [ngClass]="{
          'available' : element.Sunday === undefined || element.Sunday === false ,
          'booked' : element.Sunday === true
       }">
        <h3>
          <div *ngIf="element.Sunday===true; else elseBlock">Bokad</div>
          <ng-template #elseBlock>Ledig tid!</ng-template>
        </h3>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
