<style>
    .view_container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .cardList {
      margin-top: 100px;  
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    /* Column Gap */
    .cardList > * {
      box-sizing: border-box;
    }
    .cardList > *:not(:last-child) {
      margin-right: 10px;
    }
    /* Item sizing */
    
   </style>
   <div class="view_container">
    <div class="cardList">
        <ng-container *ngFor="let _ of Arr(120).fill(1)">
        <app-card class="cardListItem"></app-card>
        </ng-container>
    </div>
   </div>