.tab-pane {
    margin: auto;
    width: 50%;

}

.tab-content {
    position: absolute;
    width: 80%;
    z-index: -1;

}

.row {
    justify-content: center;
}

.flex-column {
    position: absolute;
    z-index: 100;
    left: 0%;
}


.outer-card {
    flex-basis: 50%;
    
}