<div class="jumbotron">
    <h3 class="display-4">Min Profil</h3>
    <p class="lead">Här hittar du information om dina bokade pass. Du har även möjlighet att avboka passen.</p>
</div>
<div class="row m-2">

<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" data-toggle="pill">Mina bokningar</a>
    <a class="nav-link" data-toggle="pill">Tidigare bokningar</a>
    <a class="nav-link" data-toggle="pill">Inställningar</a>
</div>
<div class="container">
    
    <div class="card m-2 outer-card" >
        <div class="card-header">
            2021-03-03
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="card shadow-sm m-2">
                    
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    9:00 : Badminton
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-danger">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    
                </li>
                

            </ul>
        </div>
    </div>
    <div class="card m-2 outer-card">
        <div class="card-header">
            2021-03-05
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="card shadow-sm m-2">
                    
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    9:00 : Badminton
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-danger">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    
                </li>
                <li class="card shadow-sm m-2">
                    
                    <div class="card-body">
                        Då

                    </div>
                
                </li>

            </ul>
        </div>
    </div>
    <div class="card m-2 outer-card">
        <div class="card-header">
            2021-03-06
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="card shadow-sm m-2">
                    
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    9:00 : Badminton
                                </div>
                                <div class="ml-auto">
                                    <button class="btn btn-danger">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                </li>
                <li class="card shadow-sm m-2">
                    
                    <div class="card-body">
                        Då

                    </div>
                
                </li>

            </ul>
        </div>
    </div>
    
</div>
</div>
