<h1 class="jumbotron middle">Register Page</h1>
<form action="action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" [(ngModel)]="userName" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
    
      <label for="psw"><b>Repeat password</b></label>
      <input type="password" placeholder="Enter Password Again" name="repeat" [(ngModel)]="repeat" required>

      <button type="submit" (click)="register()">Register</button>
    </div>
  </form>