<h1 class="jumbotron">Registrera användare</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
    <div class="container">
      <div class="form-group"> 
        <label for="email"><b></b></label>
        <input formControlName="userName" type="email" placeholder="E-post" name="userName" required>
      </div>

      <div *ngIf="registerForm.controls['userName'].invalid && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)" class="alert alert-danger">
        <div *ngIf="registerForm.controls['userName'].errors?.required">
          E-post saknas.
        </div>
        <div *ngIf="registerForm.controls['userName'].errors?.email">
          Ej giltig E-post.
        </div>
      </div>
      
      <div class="form-group">
        <label for="psw"><b></b></label>
        <input formControlName="password" type="password" placeholder="Lösenord" name="password" required>
      </div>

      <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="registerForm.controls['password'].errors?.required">
          Lösenord saknas.
        </div>
        <div *ngIf="registerForm.controls['password'].errors?.minlength">
          Minst 6 tecken.
        </div>
      </div>
      
      <div class="form-group">
        <label for="psw"><b></b></label>
        <input formControlName="repeat" type="password" placeholder="Upprepa lösenord" name="repeat" required>
      </div>

      <div *ngIf="registerForm.controls['repeat'].invalid && (registerForm.controls['repeat'].dirty || registerForm.controls['repeat'].touched)" class="alert alert-danger">
        <div *ngIf="registerForm.controls['repeat'].errors?.required">
          Upprepat lösenord saknas.
        </div>
        <div *ngIf="registerForm.controls['repeat'].errors?.minlength">
          Minst 6 tecken.
        </div>
      </div>
    
      <button type="submit" [disabled]="registerForm.controls['userName'].invalid || registerForm.controls['password'].invalid || registerForm.controls['repeat'].invalid">Registrera</button>
    </div>
  </form>